body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin: 5% auto;

}

/*Styles for Book */

.Page {
  display: flex;
  height: 100%;
  background-color: rgba(247, 238, 223, 0.733);
  box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.pageHeader{
  margin: 1rem;
}
.pageFooter, .pageText{
  justify-content: flex-end;
  border-top: 1px solid  rgba(138, 130, 118, 0.616);
  margin: 0.5rem;
}
.pageText{
  height: 70%;
  text-align: justify;
  justify-content: center;
  margin: 0.5rem;
  font-size: 1.5rem;
}
.pageText p{
 font-size: 1.2rem;
 margin-left: 1rem;
}
.pageImage {
  display: flex;
  margin: 0.5rem;
  width: 90%;
  height: 30%;
  align-content: center;
  justify-content: center;
}
.pageFooter{
  height: 15%;
}

/*Styles for Page Cover */
.pageCover{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(224, 207, 184);
  color:  rgb(120, 94, 58);
  border: solid 1px rgb(153, 132, 102);
  box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: center;
}

.pageCover h2 {
  padding-top: 1%;
  font-size: 210%;
  align-self: center;
}
.pageCover h2::first-letter{
  text-transform: capitalize;
}
.pageCover span{
  margin-left: 15%;
}
.pageCover span img{
  width: 80%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0 5px;
}
.hard { 
  display: flex;
  height: 100%;
  background-color: rgb(242, 232, 217);
  border: solid 1px rgb(153, 132, 102);
  background-image: url(../src/utils/images/background.jpg);
  background-size: cover;
}

/* Style for Single Page */
.singlePage {
  display: flex;
  margin: auto;
  padding: 10px auto;
}

